# Swap, backup files
*~
*.swp
*.swx
*.swo

# Compiled python files
*.pyc

# Directories
results/*
literature/*
old_python_tests/*
trimData/*
pics/*
feynsimul/*

# Specific files
cleaned.c
preprocessed.c

